.background-content {
    background-color: aliceblue;
  }
  
  .custom-title {
     color: #000000; /* Cambia el color del contenido a rojo */
  }
  
  .rounded-card {
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    width: center;
    height: auto;
  }