<ion-header >

</ion-header>
  
  <ion-content >
    <ion-card class="rounded-card">
        <ion-card-header class="background-content">
            <h3 class="custom-title"> Inicie sesion:</h3>
          
        </ion-card-header>
      
        <ion-card-content class="background-content">
            <div class="image-container">
                <img src="assets/icon/Logo-Duoc-UC.png"  width="100" height="100" >
            </div>


            <ion-input class="custom-title" label= "Correo institucional" labelPlacement="floating" placeholder="Ej: aa.aaa@duocuc.cl"></ion-input>
            <ion-input class="p" class="custom-title" type="password" label="Contraseña" labelPlacement="floating" placeholder="Ej: 12345"></ion-input>
            <ion-button class="primary-button" expand="block" class="secondary-button" fill="outline" (click)="irHome()" >Ingresar</ion-button>

            <span>
                ¿No tiene cuenta? 
                <a (click)="irRegistro()" > Registrarse</a>
                
            </span>
        </ion-card-content>
      </ion-card>
  </ion-content>
  