.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* o la altura que desees */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.background-content {
  background-color: aliceblue;
}

.custom-title {
   color: #000000; /* Cambia el color del contenido a rojo */
}

.rounded-card {
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  width: center;
  height: auto;
}

.p {
  line-height: 1.6;
}

.primary-button {
  width: 80%;              /* Hacer el botón más ancho */
  border-radius: 20px;      /* Bordes redondeados */
}

.secondary-button {
  border-radius: 20px;      /* Bordes redondeados para el botón de registro */
}